In [2]:
import pandas as pd
from sqlalchemy import create_engine
import pyarrow.parquet as pq

In [ ]:
## Fetch Taxi Data

# Dataset
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet --no-check-certificate

# Data dictionary
!wget https://www.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf --no-check-certificate

In [3]:
## Parquet Reading
# parquet_file = pq.ParquetFile('yellow_tripdata_2023-01.parquet')
# 
# iter = parquet_file.iter_batches(batch_size=1)
# 
# # Use a list comprehension to get the first batch
# first_batch = next(iter)
# 
# # Convert the batch to a Pandas DataFrame
# dfp = first_batch.to_pandas()
# 
# dfp.head()

dfp = pd.read_parquet('yellow_tripdata_2023-01.parquet')

In [ ]:
## Parquet to CSV

# Read parquet
dfp = pd.read_parquet('yellow_tripdata_2023-01.parquet')

## Process problematic columns 

# df.iloc[:,6].head()
# df.drop(df.columns[0], axis=1, inplace=True)
# df.iloc[:,6].dtype
# df.iloc[:, 6] = df.iloc[:, 6].astype(str)
# df.iloc[:, 6].astype(str).dtype
# print(df.iloc[:, 6].unique())
# condition = df[(df.iloc[:, 6] != "N") & (df.iloc[:, 6] != "Y")].index

# Drop rows that don't meet the condition
# df = df.drop(index=condition)

# Reset the index if needed
# df = df.reset_index(drop=True)
# df.iloc[:, 6].value_counts()
# dfp.iloc[:, 6].value_counts()


## Save as CSV
# Index = False to not have 1st column as index
# df.to_csv('yellow_tripdata_2023-01.csv', index=False)

In [2]:
df = pd.read_csv('yellow_tripdata_2023-01.csv', nrows=100)

In [3]:
## Cleaning

# pickup and drop off datetime should be as "TIMESTAMP", not "TEXT" in schema
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [22]:
# SQL Alchemy
# type of db://user/:password@hostname:port/db_name
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [23]:
engine.connect()

In [39]:
# test connection with test query
dummy_query = """
SELECT 1 as number;
"""

# describe tables query; wont work because its psql specific
psqlQuery = """
\dt
"""

## \dt as generic SQL
query = """
select * from pg_catalog.pg_tables WHERE schemaname != 'pg_catalog' AND schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,True,False,False,False

In [24]:
## Show df in DDL (Data Definition Language)
# describes how the  data will be shown in SQL
# generic SQL statement. may or may not work with Postgres
# print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

# definition with Postgres
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [29]:
# Chunk the data
df_iter = pd.read_csv('yellow_tripdata_2023-01.csv', iterator=True, chunksize=100000)

In [30]:
df = next(df_iter)

In [31]:
# Preprocess chunk
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [28]:
# we are chunking, so insert just the row headers first
df.head(0).to_sql(name="yellow_taxi_data",con=engine, if_exists='replace')

0

In [32]:
# insert a chunk, and time it
%time df.to_sql(name="yellow_taxi_data",con=engine, if_exists='append')

CPU times: user 7.02 s, sys: 456 ms, total: 7.48 s
Wall time: 14.7 s

1000

In [34]:
from time import time

In [4]:
## insert all chunks iteratively

while True:
    try:
        t_start = time()
        df = next(df_iter)
        
        # Preprocess chunk
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
        
        # insert
        df.to_sql(name="yellow_taxi_data",con=engine, if_exists='append')
        t_end = time()
        
        print('inserted another chunk... %.3f seconds' % (t_end-t_start))
    except StopIteration:
        print("Finished inserting all chunks.")
        break

In [40]:
# check results with sample query
query = """
select * from yellow_taxi_data LIMIT 10;
"""

pd.read_sql(query, con=engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
5,5,2,2023-01-01 00:50:34,2023-01-01 01:02:52,1.0,1.84,1.0,N,161,137,1,12.8,1.00,0.5,10.00,0.0,1.0,27.80,2.5,0.00
6,6,2,2023-01-01 00:09:22,2023-01-01 00:19:49,1.0,1.66,1.0,N,239,143,1,12.1,1.00,0.5,3.42,0.0,1.0,20.52,2.5,0.00
7,7,2,2023-01-01 00:27:12,2023-01-01 00:49:56,1.0,11.70,1.0,N,142,200,1,45.7,1.00,0.5,10.74,3.0,1.0,64.44,2.5,0.00
8,8,2,2023-01-01 00:21:44,2023-01-01 00:36:40,1.0,2.95,1.0,N,164,236,1,17.7,1.00,0.5,5.68,0.0,1.0,28.38,2.5,0.00
9,9,2,2023-01-01 00:39:42,2023-01-01 00:50:36,1.0,3.01,1.0,N,141,107,2,14.9,1.00,0.5,0.00,0.0,1.0,19.90,2.5,0.00